<header class="bg-neutral-200">
  <div class="container-fluid mx-auto pr-7">
    <nav>
      <div class="flex h-40 items-center justify-between">
        <div
          class="flex flex-1 items-center justify-center md:items-stretch md:justify-start"
        >
          <a class="flex flex-shrink-0 items-center mr-4" href="/">
            <img
              class="h-40 w-auto"
              src="./logo/trans_bg.png"
              alt="NgFlix Logo"
            />
            <!-- <span class="hidden md:block text-white text-2xl font-bold ml-2">
            NgFlix
          </span> -->
          </a>
          <div class="md:ml-auto my-auto">
            <div class="flex space-x-3 text-black">
              <a
                routerLink="/tv-shows"
                routerLinkActive="text-white bg-gray-900"
                class="hover:bg-gray-900 hover:text-white rounded-md px-3 py-2"
              >
                TV Shows
              </a>

              <a
                routerLink="/genres"
                routerLinkActive="text-white bg-gray-900"
                class="hover:bg-gray-900 hover:text-white rounded-md px-3 py-2"
              >
                Genre
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
