<header
  class="fixed top-0 left-0 w-full z-50 bg-neutral text-neutral-content shadow-md"
>
  <div class="container mx-auto px-4">
    <nav class="navbar py-4">
      <!-- Logo -->
      <div class="flex items-center gap-4 me-5">
        <a routerLink="/" class="flex items-center gap-2">
          <img
            src="./logo/original.png"
            alt="NgFlix"
            class="h-12 w-auto md:hidden"
          />
          <span class="hidden md:inline text-xl font-bold">NgFlix</span>
        </a>
      </div>

      <!-- Navigation Links -->
      <div class="flex gap-4">
        <div class="dropdown">
          <div
            tabindex="0"
            role="button"
            class="btn btn-sm btn-ghost hover:ghost"
            routerLink="/movies"
            routerLinkActive="btn-active"
          >
            Movies
          </div>
          <ul
            tabindex="0"
            class="dropdown-content menu bg-base-200 rounded-box z-1 w-32 shadow-lg"
          >
            <li>
              <a
                routerLink="/movies"
                routerLinkActive="btn-active"
                class="btn btn-sm btn-ghost hover:bg-base-100"
                >Popular</a
              >
            </li>
            <li>
              <a
                routerLink="/movies/top-rated"
                routerLinkActive="btn-active"
                class="btn btn-sm btn-ghost hover:bg-base-100"
                >Top Rated</a
              >
            </li>
          </ul>
        </div>

        <div class="dropdown">
          <div
            tabindex="0"
            role="button"
            class="btn btn-sm btn-ghost hover:ghost"
            routerLink="/tv-shows"
            routerLinkActive="btn-active"
          >
            TV Shows
          </div>
          <ul
            tabindex="0"
            class="dropdown-content menu bg-base-200 rounded-box z-1 w-32 shadow-lg"
          >
            <li>
              <a
                routerLink="/tv-shows"
                routerLinkActive="btn-active"
                class="btn btn-sm btn-ghost hover:bg-base-100"
                >Popular</a
              >
            </li>
            <li>
              <a
                routerLink="/tv-shows/top-rated"
                routerLinkActive="btn-active"
                class="btn btn-sm btn-ghost hover:bg-base-100"
                >Top Rated</a
              >
            </li>
          </ul>
        </div>

        <!-- <a
          routerLink="/genres"
          routerLinkActive="btn-active"
          class="btn btn-sm btn-ghost hover:ghost"
        >
          Genre
        </a> -->
      </div>
    </nav>
  </div>
</header>
